@import "mixin";
*{
    font-family: "微軟正黑體",serif;
    margin: 0;
    padding: 0;
}
.ad_sliderWrap{
    overflow: hidden;
    position: relative;
    @include imgSize;
    #ad_slider{
        .ad_sliderDiv{
        @include imgSize;
            a{
                display: block;
                @include imgSize;
                .ad_imgBox{
                    position: relative;
                    @include imgSize;
                    .ad_title{
                        position: absolute;
                        top: 0;
                        margin: 5px auto;
                        right: 0;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        h2{
                            margin: 0 auto;
                            color: #fff;
                        }
                        h4{
                            margin: 5px auto 0 auto;
                            color: #e8e8e8;
                        }
                    }
                }
            }
        }
    }
    .ad_sliderNav{
        position: absolute;
        margin: 0 auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100px;
        height: 20px;
        display:flex;
        align-items: center;
        justify-content: space-around;
        
        #ad_buttons{
            display:flex;
            justify-content: space-around;
            width: 70px;
            button{
                @include buttonSetting;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: gray;
                opacity: 0.5;
            } 
        }
        
        .prev{
            @include buttonSetting;
            @include directionButton;
            .prevIcon{
                margin: auto;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 5px 4px 0;
                border-color: transparent #ffffff transparent transparent;
            }
        }
        .next{
            @include buttonSetting;
            @include directionButton;
            .nextIcon{
                margin: auto;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 0 4px 5px;
                border-color: transparent transparent transparent #ffffff;
            }
        }
    }
}